h1 The Team

.row
  for person in people
    .col-md-3
      .thumbnail
        img(src="photographs/#{person.photograph}")
        div.caption
          h3
            if person.homepage
              a(href=person.homepage) #{person.name}
            else
              | #{person.name}
          h4
            a(href=person.institutionUrl) #{person.institution}

